/* common shared styles */
body {
    font-family: 'Open Sans',
        sans-serif;
}

/* nav related styles */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

li a {
    text-decoration: none;
}

.orange {
    color: #FD6E0A;
}

.navi-title {
    color: var(--Dark-01, #181818);
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    padding: 15px 30px;
    border: 0px;
    font-size: 20px;
    font-weight: 700;
    color: white;
}
/* header related styles */
.header{
    background-color: #FFF8F3;
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
   
}
.banner .profile-pic{
    height: 500px;
}


